{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            {% for book in book_list %}
                <div class="book col-md-4">
                    <h2>{{ book.title }}</h2>
                    <p>Автор: {{ book.author }}</p>
                    <p>Дата публикации: {{ book.pub_date }}</p>
                </div>
            {% endfor %}
        </div>
        <div class="sort-block">
            <span class="sort-item">Другие даты:</span>
            <a class="sort-item" href="?sort=prev">Назад {{ pub_date_prev }}</a>
            <a class="sort-item" href="?sort=next">Вперед {{ pub_date_next }}</a>
        </div>
    </div>
{% endblock %}